audio_cache/youtube-xCjuFMxYKyw-We_Are_Number_One_Earrape.webm
audio_cache/youtube--ch-rtcplzk-Africa_EARRAPE.webm
audio_cache/youtube-1FirtNx9YR0-Slayer_-_Deviance_God_Hates_Us_All_Album_Subtitulos_Espanol.m4a
audio_cache/youtube-1LOoRJ0s0rw-Tunak_Tunak_Ultimate_Ear_Rape_+_Bass_Boost_Version.webm
audio_cache/youtube-2BYqa7uM1h0-Owl_City_-_Fireflies_Ear_Rape.webm
audio_cache/youtube-3hKRVsDPD9s-PPAP_PEN_PINEAPPLE_APPLE_PEN_EAR_RAPE.webm
audio_cache/youtube-55NZozNb8Kk-Super_Minecraft_Kid_Earrape_Edition.webm
audio_cache/youtube-6Joyj0dmkug-Windows_XP_startup_earrape.webm
audio_cache/youtube-9ZQJh8sQnlQ-10_Hours_of_MINE_DIAMONDS_miNECRAFT_PARODY_OF_TAKE_ON_ME.webm
audio_cache/youtube-Eda65T4yEic-ALL_THE_OTHER_PLAYERS_MINECRAFT_PARODY_OF_PUMPED_UP_KICKS_EAR_RAPE.m4a
audio_cache/youtube-F19rKDzfCI8-GTA_San_Andreas_Opening_Earrape_Edition.webm
audio_cache/youtube-GNWwsBLF6hA-Ear_Rape_Minecraft_Parody_Mine_Diamonds_w_subtitles.webm
audio_cache/youtube-JzGTxHrFG84-Wii_Sports_Theme_Loud.webm
audio_cache/youtube-MJdz3i44dIc-EXTREME_USSR_Anthem_Earrape.webm
audio_cache/youtube-MOvDrom0rjc-Worlds_Loudest_Ear_Rape_1.0.webm
audio_cache/youtube-NwN7PMQtlo8-jacob_sartorius_sweatshirt_ear_rape.webm
audio_cache/youtube-OqyplDObveE-GTA5.exe_as_read_by_Audacity_ear-rape_warning.m4a
audio_cache/youtube-ShCBna7Eg1Q-Earrape_-_Titanic_Flute.webm
audio_cache/youtube-Sx74i49QN40-hotel_mario_intro_-_extreme_ear_rape_edition.webm
audio_cache/youtube-TX-6qPppbjY-earrape_Mickey_Mouse_Clubhouse_Theme_Song.webm
audio_cache/youtube-UbquHo8Cusw-John_Williams_-_Duel_of_the_Fates_EAR_RAPE.m4a
audio_cache/youtube-Wi6XbjZrdpQ-Lord_of_the_Rings_hyper_distorted_version.webm
audio_cache/youtube-Wp1kzZ-eDTw-Harry_Potter_-_Hedwig_s_Theme_Loud.webm
audio_cache/youtube-X7wkPlqAtp8-Eye_Of_The_Spider_Eye_Of_The_Tiger_Minecraft_Parody_2.0_Ear_Rape.m4a
audio_cache/youtube-ZICaUybMucY-Preservation_Hall_Jazz_Band_-_That_s_It.webm
audio_cache/youtube-aUmrW9hzRms-Foster_The_People_-_Pumped_Up_Kicks_-_INSANE_EARRAPE.m4a
audio_cache/youtube-bjNUPRDmxDk-SPONGEBOB_SQUIDWARD_KRABBY_PATTY_RECIPE_LEARNING_EAR_RAPE_BASS_BOOSTED.webm
audio_cache/youtube-cLFHQjxv0pU-Thomas_the_tank_engine_1_HOUR_EARAPE_EDITION.webm
audio_cache/youtube-irY9uIG5NJ8-Shrek_-_AllStar_EARRAPE.webm
audio_cache/youtube-jZr_T1dn6xI-God_Save_The_Queen_British_Anthem_Ear_Rape_Brexit.webm
audio_cache/youtube-npnTtZ0vq7Q-Super_Mario_64_-_Main_Theme_Loud.m4a
audio_cache/youtube-oxxgzQbtKMg-Kazoo_Kid_Earrape.m4a
audio_cache/youtube-r9aVszSJCnc-Minecraft_Theme_Earrape.webm
